html{
    font-family: Arial, Helvetica, sans-serif;
}
#site_name{display: none;}
#add_item{display: none;}
#not_logged_in{display: none;}
.topnav {display: none;}
#welcome {display: none;}
div.form {display: none;}
table.center{
    margin-left: auto;
    margin-right: auto;
}
footer{display: none;}
#input{display: none;}
#add_banner_right{display: none;}
#add_banner_left{display: none;}
img{display: none;}
input[type="submit"]{display: none;}