html{
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-bottom: 0;
    margin-top:0;
    margin-right: 0;
    margin-left: 0;
    background-color: whitesmoke;
}
#site_name{
    color:#4CAF50;
    text-align: center;
}
#welcome{
    text-align: center;
}
header h1{
    margin-bottom: 0;
    margin-top:0;
    margin-right: 0;
    margin-left: 0;
    padding: 20px;  
}
#header{
    margin-bottom: 0;
    margin-top:0;
    margin-right: 0;
    margin-left: 0;
}
#not_logged_in{
    text-align: center;
}
/* kousek upraveného css z W3SCHOOLS */
.topnav{
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 69;
    position: relative;
}
.topnav a:hover{
    background-color: whitesmoke;
    color: black;
}
.topnav a.active{
background-color: #4CAF50;
    color: whitesmoke;
}
div.form{
    text-align: center;
    position: sticky;
    top: 69px;
}
table.center{
    margin-left: auto;
    margin-right: auto;

}
#ad_banner_left{
    float: left;
    width: 20%;
    height: 100%;
}
#ad_banner_right{
    float: right;
    width: 20%;
    height: 100%;
}
#ad_banner_left img{
    display: block;
    float: right;
}
#ad_banner_right img{
    display: block;
    float: left;
}
#item_name_label{
    text-align: left;
}

.error {
    border: 1px solid red;
}
#link{
    color: #4caf50;
}

#link:visited{
    color: #4caf50;
}
#log_nav{
    float: right;
}
